:root {
--branding-color: #3892b0;
--secondary-color: #e8f3f2; 
--heading-font-family: 'Outfit',sans-serif;


}


h1 {
    font-family: var(--heading-font-family);
    font-size: 80px;
    font-weight: bold;
}
h4 {
    font-size: 48px;
}
.intro {
    background-color: var(--branding-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 100px 20px;


}
.content {
    color: rgb(33, 29, 29);
    padding: 120px 60px;}
    
.content p {
    font-size: 16px;
    
}



.btn-branding {
background: var(--branding-color);
border-radius: 4px;
color: var(--secondary-color);
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
}
.btn-branding-outline {
    font-family: var(--heading-font-family);
    border-radius: 4px;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 10px 20px;
}



.about-section {
    padding: 30px 20px;

}

.about-me {
    margin: 30px;

   
}
.about-section h {
    font-size: 64px;
    line-height: 70px;
    font-family: var(--heading-font-family);
}
.about-section p {
    font-size: 18px;
   
}
.about-section img {
    padding: 18px 0;
  
}

.contents {
    text-align: center;
    padding: 40px;
    font-family: var(--heading-font-family);
}
footer {
    margin-top: 50px;
    font-family: var(--heading-font-family);
}
footer .contact-box {
    background: var(--secondary-color);
    padding: 20px 80px;
    border-radius: 10px;

}
footer .contact-box p {
    margin: 0;

}
footer .email-link {
    font-family: var(--heading-font-family);
    display: block;
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;

}
footer .email-link:hover {
    color: var(--branding-color);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
   
    padding: 10px 14px;
    
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: var(--secondary-color);
    background: var(--branding-color);
}

.contact-page {
    margin: 0;
}

.container img {
    margin-top: 20px;
}


nav {
    font-family: var(--heading-font-family);
    background: var(--secondary-color);
    color: #3892b0;
}

.content-container h1 {
    font-size: 40px;
    text-align: center;
    padding: 30px;
}
.content-container h3 {
    text-align: center;
    font-family: var(--heading-font-family);
    padding: 10px 0 0 0;
}

.content-container p {
    text-align: center;
    font-family: var(--heading-font-family);
    margin-top: 1px;
}
.weatherImg {
    margin: 100px auto;
}
.tag {
    margin-top: 1px;
    
}
.tagOne {
    margin-top: 1px;
    
}

@media (max-width: 960px) {
    .content {
        padding: 0;
        text-align: center;
    }

    h1 {
        font-size: 50px;
    }

    .about-section {
        padding: 0;
        text-align: center;

    }

    .about-me {
        padding: 0;
        text-align: center;
    }
    h4 {
        font-size: 24px;
    }
}