:root {
--branding-color: #3892b0;
--secondary-color: aliceblue; 
--heading-font-family: 'Outfit',sans-serif;


}


h1 {
    font-family: var(--heading-font-family);
    font-size: 80px;
    font-weight: bold;
}
.intro {
    background-color: var(--branding-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 100px 20px;

}
.content {
    color: rgb(33, 29, 29);
    padding: 120px 60px;}
    
.content p {
    font-size: 16px;
    
}



.btn-branding {
background: var(--branding-color);
border-radius: 4px;
color: var(--secondary-color);
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
}
.btn-branding-outline {
    font-family: var(--heading-font-family);
    border-radius: 4px;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 10px 20px;
}

@media (max-width: 960px) {
    .content {
        padding: 0;
        text-align: center;
    }
    h1 {
        font-size: 50px;
    }

    .about-section {
        padding: 0;
        text-align: center;

    }
    .about-me {
        padding: 0;
        text-align: center;
        
        
    }
}

.about-section {
    padding: 80px 20px;

}

.about-me {
    margin: 30px;

   
}
.about-section h {
    font-size: 64px;
    line-height: 70px;
    font-family: var(--heading-font-family);
}
.about-section p {
    font-size: 18px;
   
}
.about-section img {
    padding: 18px 0;
  
}

.contents {
    text-align: center;
    padding: 40px;
    font-family: var(--heading-font-family);
}
